{% extends 'base.html.twig' %}

{% block title %}Accueil du Front!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title is-2">Accueil</h1>
    <div class="accueil__front columns is-multiline is-mobileis-variable is-8 is-vcentered">
        <a href="{{ path('type_ticket') }}" class="column is-4-desktop is-12-touch">
            <div class="accueil__front_card is-flex is-flex-direction-column is-justify-content-center is-align-items-center box mb-6">
                <h2 class="title is-4">Ouvrir un ticket</h2>
                <span class="iconify" id="icon_new" data-icon="codicon:new-file" data-inline="false"></span>
            </div>
        </a>
        <a href="#" class="column is-4-desktop is-12-touch">
            <div class="accueil__front_card is-flex is-flex-direction-column is-justify-content-center is-align-items-center box mb-6">
                <h2 class="title is-4">Mes dernières réponses</h2>
                <span class="iconify" id="icon_lastResponses" data-icon="mdi:email-receive-outline" data-inline="false"></span>
            </div>
        </a>
        <a href="{{ path('ticket_crud_my_tickets', {'search':'', 'beginDate':'', 'endDate' :'', 'status':'open', 'type' : 'demand'}) }}" class="column is-4-desktop is-12-touch">
            <div class="accueil__front_card is-flex is-flex-direction-column is-justify-content-center is-align-items-center box mb-6">
                <h2 class="title is-4">Mes dernières demandes</h2>
                <span class="iconify" id="icon_lastDemand" data-icon="mdi:book-multiple-outline" data-inline="false"></span>
            </div>
        </a>
        <a href="{{ path('ticket_crud_my_tickets', {'search':'', 'beginDate':'', 'endDate' :'', 'status':'open', 'type' : 'incident'}) }}" class="column is-4-desktop is-12-touch">
            <div class="accueil__front_card is-flex is-flex-direction-column is-justify-content-center is-align-items-center box mb-6">
                <h2 class="title is-4">Mes derniers incidents</h2>
                <span class="iconify" id="icon_lastIncident" data-icon="mdi:book-remove-multiple-outline" data-inline="false"></span>
            </div>
        </a>
        <a href="{{ path('ticket_crud_all_incidents') }}" class="column is-4-desktop is-12-touch">
            <div class="accueil__front_card is-flex is-flex-direction-column is-justify-content-center is-align-items-center box mb-6">
                <h2 class="title is-4">incident en cours</h2>
                <span class="iconify" id="icon_incidents" data-icon="mdi:alert-decagram-outline" data-inline="false"></span>
            </div>
        </a>
    </div>
</div>
{% endblock %}
