{% extends 'base.html.twig' %}

{% block title %}Accueil du Front!{% endblock %}

{% block body %}
<h1>Accueil du Front Office</h1>
    <a href="{{ path('type_ticket') }}">Ouvrir un ticket</a>

{% endblock %}
