html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
    font-family: 'Roboto Slab', serif;
}

header{
    background-color: white;
}

header .iconify{
    height: 2rem;
    width: 2rem;
}

h1{
    text-align: center;
    font-family: 'Krub', sans-serif;
}

h2, h3, h4, h5{
    font-family: 'Krub', sans-serif;
    font-weight: lighter;
    text-align: center;
}

/*Attention la marge left en commentaire plus bas est gérée dans base.html.twig*/
.content {
    min-height: calc(100vh - 100px);
    /* margin-left: 11.5rem; */
    padding: 0px 10px;
}
.footer {
    height: 100px;
    background-color: #1D3557;
}

.footer p{
    color: white;
}

.footer p a,strong{
    color: white;
    text-decoration: none;
}

.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 40vh 33%;
    max-width: 33%;
    border: solid black 1px;
    border-radius: 2rem;
}

.connexion div{
    padding: 0.5rem;
}

.connexion button{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top: 0;
    padding: 1rem;
}

.navbar_item{
    padding: 0 5rem;
    list-style: none;
}

.navbar_item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.accueil__front{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.accueil__front a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.iconify{
    height: 10rem;
    width: 10rem;
}

#icon_new{
    color: #457B9D;
}

#icon_lastResponses{
    color: #EFF255;
}

#icon_lastDemand{
    color: #1D3557;
}

#icon_lastIncident{
    color: #F49A2F;
}

#icon_incidents{
    color: #E63946;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 12rem; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1D3557; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 10rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar_logo{
    width: 9rem;
    height: auto;
    margin: 0 0.5rem 4rem 0.5rem;
}

.sidebar_subItem{
    display: flex;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
}

.sidebar_subItem:hover{
    background-color: #A8DADC;
    border-radius: 0.5rem;
}

.sidebar_important{
    display: flex;
    align-self: center;
    color: white;
    background-color: #E63946;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.sidebar_important:hover{
    transform: scale();
}

.sidebarItems{
    /* margin-left: 1rem; */
}

.sidebar_interlayer{
    padding: 1rem 0 0 0;
    font-size: 1.1rem;
}

.sidebar>hr{
    margin-top: 0.5rem;
}