{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <h1>Changement de mot de passe</h1>

    <form action="" method="post">
        <div>
            <label for="password" class="label">Nouveau mot de passe</label>
            <input type="password" name="password" class="input">
        </div>
        <div>
            <label for="passwordConfirm" class="label">Confirmer nouveau mot de passe</label>
            <input type="password" name="passwordConfirm" class="input">
        </div>
        <div>
            <input type="submit" value="Confirmer" class="button is-info mt-3">
        </div>
    </form>
    <div class="container is-flex is-justify-content-flex-end">
        <a href="{{ path('user_edit' , {'id' : app.user.id}) }}" class="button is-primary">Retour au compte</a>
    </div>
    
{% endblock %}
